<div class="d-flex justify-content-center bg-light">#}
            <a  style="text-decoration: none" class=" mt-4 text-dark bg-info display-4" href="{{ path('allFilmsSerials',{'typeSearch' : 'films' }) }}">
                Films
            </a>
            <a  style="text-decoration: none" class="mt-4 ml-3 bg-warning text-dark display-4"
                href="{{ path('allFilmsSerials',{'typeSearch' : 'serials' }) }}">
                Serials
            </a>
    </div>

