<div class="d-flex justify-content-center bg-light position-relative">

            <a  style="position: absolute; left: 10px;" class="text-dark display-4 " href="{{ path('main_page') }}">
                VladFlix</a>

            <a  style="text-decoration: none" class=" mt-4 text-dark bg-info display-4" href="{{ path('allFilmsSerials',{'typeSearch' : 'films' }) }}">
                Films
            </a>
            <a  style="text-decoration: none" class="mt-4 ml-3 bg-warning text-dark display-4"
                href="{{ path('allFilmsSerials',{'typeSearch' : 'serials' }) }}">
                Serials
            </a>
    <a style=" text-decoration: none; width: 60px; height: 60px;text-align: center;align-self: center; align-items: center" href="{{ path('profileMenu') }}" class="ml-5 position-relative rounded-circle text-light bg-dark ">
      Menu
    </a>


        </div>


